@import url('https://fonts.googleapis.com/css2?family=ROBOTO+CONDENSED&family=OPEN+SANS:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --heading-font: "Roboto condensed";
    --paragraph-font: "Open sans", Helvetica, sans-serif;
}

.content{
    max-width:1600px;
    margin: 0 auto;
    font-family:var(--paragraph-font);
}

nav a{
    text-align:center;
    color: #D1F5BE;
    text-decoration:none;
    font-family:var(--paragraph-font);
    padding: 35px;
}

nav a:hover{
    background-color:#D1F5BE;
    color: #149985;
}

#hero-msg h1, #hero-msg h4 {
    text-align:center;
    font-family:var(--paragraph-font);
}

.button-box{
    text-align:center;
}

main section{
    text-align:center;
    font-family:var(--paragraph-font);
}

#background{
    height:725px;
    background-color: #149985;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color:#149985;
    padding:0;
    margin:0;
}

header {
    background-color:#4B3B40;
    font-size:22px;
    display: grid;
    grid-template-columns: 150px auto;
}

.book, .join{
    background-color: #4B3B40;
    color:#78C3FB;
    text-decoration:none;
    font-size:18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #78C3FB;
    color:#4B3B40;
}

.msg{
    background-color:#4B3B40;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer{
    background-color:#78C3FB;
    color:#4B3B40;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title{
    font-family: var(--heading-font);
    color:#78C3FB;
    font-size:2em;
    margin-top: 10px;
}

h4{
    color:#4B3B40;
}

.msg h2{
    font-family: var(--heading-font);
    color:#78C3FB;
}

.msg p{
    color:#D1F5BE;
    font-size:.8em;
    padding-bottom: 15px;
}

footer a{
    color:#4B3B40;
    text-decoration:none;
}

footer a:hover{
    color:#149985;
}

.logo {
    width:80px;
}

#hero-img{
    width:100%;
}

.icon{
    width:80px;
    padding-top: 10px;
}

footer p{
    font-size:1.2em;
    font-family:var(--paragraph-font);
    margin-top: 200px;
}

footer p a:hover{
    text-decoration:underline;
}

h2{
    margin:0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border:10px;
    border-style: solid;
    border-color: black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img{
    box-sizing: border-box;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.card, .mountain{
    width: 100%;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

nav{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/**/
/* Rivers selection page */
/**/

.rivers h2{
    margin-top:100px;
  }