/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #050505;
  --secondary-color: #BBE6E4;
  --accent1-color: #696047;
  --accent2-color: #2D82B7;

  /* change the values below to your chosen font(s) */
  --heading-font: "Nobile";
  --paragraph-font: "Rubik", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #050505;  /* headlines on a white background */ 
  --headline-color-on-color: #BBE6E4; /* headlines on a colored background */ 
  --paragraph-color-on-white: #050505; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #BBE6E4; /* paragraph text on a colored background */ 
  --paragraph-background-color: #696047  ;
  --nav-link-color: #050505;
  --nav-background-color: #BBE6E4;
  --nav-hover-link-color: #BBE6E4;
  --nav-hover-background-color: #2D82B7;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-color:#BBE6E4; 
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 100px;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;

  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 280px;
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

.intro_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.intro_grid img{
  width:200px;
  text-align: center;
  margin-top: 30px;
}

.intro_grid img:nth-of-type(1){
  float: left;
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
}

.intro_grid img:nth-of-type(2){
  grid-column: 1/2;
}

.intro_grid img:nth-of-type(3){
  grid-column: 2/3;
  margin-bottom: 50px;
}

.intro_grid img:nth-of-type(4){
  grid-column: 3/4;
}

.intro_grid p{
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: justify;
}

.carousel_grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.contact_box{
  border-style: solid;
  border-width: 15px;
  border-color: var(--nav-hover-background-color);
  grid-row: 2/3;
  border-radius: 15px;
}

.carousel_grid p{
  grid-row: 1/3;
}

.child_pages_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.child_pages_grid div:nth-of-type(1){
  grid-column: 1/2;
}

.child_pages_grid div:nth-of-type(2){
  grid-column:2/3;
}

.child_page_head{
  margin-top: 70px;
}

footer{
  background-color:  var(--nav-hover-background-color);
}

.seedeye{
  width: 200px;
  border-radius: 200px;
}

nav{
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 15px;
}

#nav_bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:auto;
}